<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >
    <test name="Create New Product [Chrome]" >
        <!--configure test to execute testing script using Chrome browser-->
    </test>

    <!--Prepare test for firefox and IE browsers-->

</suite>